/*
 * Things I add
 *
 * It's fun to customize a bit, so I added some things here
 */

 .bigh1 {
    font-size: 300%;
 }

.bigh2 {
    font-size: 200%;
 }

.headshot {
    float: right;
    width:30%;
    border-radius: 20%;
    margin: 10px;
}